.parks_container {
	display: grid;
  background: #003300;
  height: 100vh;
  text-align: center;
  width: 100%;
  grid-template-areas: 
		"header search search" 
		"header article article"
		"header article article";
	grid-template-columns: 20% auto;
	grid-template-rows: 10% auto;
}

.parks_container-header {
	grid-area: header;
	font-size: 5vh;
  color: white;
  background-color: #331a00;
  height: 100vh;
  margin: 0px;
}

.parks_container-form {
	grid-area: search;
}

.parks_container-cards {
	grid-area: article;
	max-height: 100vh;
	overflow: scroll;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}