.park_card_text {
	padding: 0 15vh;
}

.park_card_title {
	font-size: 8vh;
}

.park_card_p {
	font-size: 5vh;
}

.park_card {
	text-decoration: none;
	border: 3px solid #3C321F;
  margin: 3vh;
  width: 50vh;
  height: 25vh;
  background: #AD9A7A;
  border-radius: 5px;
}

.park_card_t {
	text-decoration: none;
	color: #3C321F;
	font-size: 5vh;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.park_card_d {
	text-decoration: none;
	text-underline-position: none;
	color: #3C321F;
	font-size: 3vh;
}